/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   gap: 1em;
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: center;
   align-content: center;
}

.ytv {
   height: fit-content;
}
.ytv__bottom {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.ytv__left {
   align-items: center;
   display: flex;
   gap: 1em;
   justify-content: space-between;
}
.ytv__right {
   display: flex;
   gap: 1em;
   align-items: center;
}
.profile {
   display: flex; 
   gap: 1em;
   flex-shrink: 0;
}
.profile__text {
    
}
.icon {

}
.btn--flex {
    
}